.result__item{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.result__avatar{
  height: 90px;
  width: auto;
}
.result__description{
  display: flex;
  flex-direction: column;
  gap:5px;
}
.result__watchers:after{
  margin-left: 5px;
  vertical-align: baseline;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../img/star.svg");
}
.result__item:hover{
  .result__link{
    color: #207b6e;
  }
}
